<li class="nav-item menu-items">
    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
        <span class="menu-title">Administración</span>
        <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/infonete/usuario/admin" >Gestión de usuarios</a></li>
            <li class="nav-item"> <a class="nav-link" href="/infonete/producto/admin" >Gestión de productos</a></li>
            <li class="nav-item"> <a class="nav-link" href="/infonete/suscripcion/admin" >Gestión de Suscripciones</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Reportes</a></li>
        </ul>
    </div>
</li>
