<li class="nav-item menu-items">
    <a class="nav-link" data-toggle="collapse" href="#ui-editor" aria-expanded="false" aria-controls="ui-editor">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
        <span class="menu-title">Menú Editor</span>
        <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="ui-editor">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/infonete/edicion/admin" >Gestión de edición</a></li>
            <li class="nav-item"> <a class="nav-link" href="#" >Gestión de notícias</a></li>
        </ul>
    </div>
</li>