
{{#ediciones}}
    <tr>
        <td><img class="portada-mini me-4" src="/infonete/public/uploads/portada/{{portada}}"></td>
        <td>{{titulo}}</td>
        <td>{{numero}}</td>
        <td>
            {{#fecha}}
                {{fecha}}
            {{/fecha}}
            {{^fecha}}
                no publicado
            {{/fecha}}
        </td>
        <td>
            <label class="badge badge-success me-1" >Edición</label>
        </td>

        <td>
            <a  class="btn btn-secondary" title="Publicar" id-edicion="{{id}}" ed-state>
                <i class="mdi mdi-earth mx-auto" ></i>
            </a>
            <a  class="btn btn-secondary" title="Editar"  href="/infonete/edicion/editar?id={{id}}" blank-pass><i class="mdi mdi-pencil mx-auto" ></i></a>

        </td>
    </tr>
{{/ediciones}}

{{^ediciones}}
    <tr>
        <td>
            No hay ediciones para mostrar.
        </td>

    </tr>

{{/ediciones}}
