
{{#noticias}}
    <tr>
        <td><i class="text-info mdi mdi-note-outline d-inline pr-2 fs-3"></i>{{id}}</td>
        <td>{{seccion}}</td>
        <td class="max-with-250 text-elipsis">{{titulo}}</td>
        <td>{{create_at}}</td>
        <td>
            {{#update_at}}
                {{update_at}}
            {{/update_at}}
            {{^update_at}}
                no publicado
            {{/update_at}}
        </td>
        <td>
            <label class="badge badge-state-{{idEstado}} me-1"  id="label-{{id}}">{{nombreEstado}}</label>
        </td>

        <td>
                {{#idEstado}}
                    <a  class="btn btn-secondary disabled" title="Enviar a Revisión" id-nota="{{id}}"  nota-state>
                        <i class="mdi mdi-read mx-auto"  ></i>
                    </a>
                    <a  class="btn btn-secondary disabled" title="Editar" id-user="{{id}}" href="" ><i class="mdi mdi mdi-pencil-off mx-auto" ></i></a>
                {{/idEstado}}
                {{^idEstado}}
                    <a  class="btn btn-secondary" title="Enviar a Revisión" id-nota="{{id}}"  nota-state>
                        <i class="mdi mdi-send mx-auto"  ></i>
                    </a>
                    <a  class="btn btn-secondary" title="Editar"  href="/infonete/articulo/editar?id={{id}}" ><i class="mdi mdi-pencil mx-auto" ></i></a>
                {{/idEstado}}



            <a  class="btn btn-secondary" title="Previsualizar"  href="/infonete/articulo/preview?id={{id}}" ><i class="mdi mdi-eye mx-auto" ></i></a>

        </td>
    </tr>
{{/noticias}}

{{^noticias}}
    <tr>
        <td>
            No hay Notas para mostrar.
        </td>

    </tr>

{{/noticias}}
