<!-- Partial: Sidebar.mustache -->

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="/infonete/"><img src="/infonete/public/images/logo/logo-150.png"
                                                                       alt="logo"/></a>
        <a class="sidebar-brand brand-logo-mini" href="index.mustache"><img
                src="/infonete/public/images/logo/logo-single-mini.png" alt="logo"/></a>
    </div>
    <ul class="nav">

        {{#userAuth}}
            <!-- Detalles y opciones de usuario-->
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle " src="/infonete/public/uploads/profiles/{{getAvatar}}" alt="">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal">{{getNombre}} {{getApellido}}</h5>
                            <span>Usuario {{getRolName}}</span>
                        </div>
                    </div>
                    <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                    <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                         aria-labelledby="profile-dropdown">
                        <a href="#" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-settings text-primary"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Opciones de cuenta</p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-onepassword  text-info"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Cambiar contraseña</p>
                            </div>
                        </a>


                    </div>
                </div>
            </li>

            <!-- Opciones de Perfil -->
            <li class="nav-item nav-category">
                <span class="nav-link">Mi cuenta</span>
            </li>

            <li class="nav-item menu-items">
                <a class="nav-link" href="/infonete/suscripcion/misSuscripciones">
                      <span class="menu-icon">
                        <i class="mdi mdi-wallet-membership"></i>
                      </span>
                     <span class="menu-title">Mis suscripciones</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/infonete/edicion/misEdiciones">
                      <span class="menu-icon">
                        <i class="mdi mdi-library-books"></i>
                      </span>
                    <span class="menu-title">Mis productos</span>
                </a>
            </li>
            <!--admin -->
            {{#rolTools}}
                {{{rolTools}}}
            {{/rolTools}}


        {{/userAuth}}
        {{^userAuth}}
            <!-- botones registrarse y Login -->
            <ul class="navbar-nav mx-2">
                <li class=" d-lg-none d-block mb-2">
                    <a class="nav-link btn btn-primary btn-fw mx-1" href="/infonete/login">Iniciar sesión</a>
                </li>
            </ul>
        {{/userAuth}}


        <li class="nav-item nav-category">
            <span class="nav-link">Navegación</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/infonete/">
              <span class="menu-icon">
                <i class="mdi mdi-home"></i>
              </span>
                <span class="menu-title">Inicio</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/infonete/producto/nuestrosProductos">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
                <span class="menu-title">Productos</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" id="menu-planes" href="/infonete/suscripcion/planes">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
                <span class="menu-title">Planes</span>
            </a>
        </li>

    </ul>
</nav>