@charset "UTF-8";

:root{

    --x-light-gray: #b6b6b6;
    --light-gray: #6e6e6e;
    --blue-primary: #007EC3;
    --blue-primary-hover: #004f7e;
    --primary: #0090e7;
}



/**color de fuentes**/

.text-gray{
    color: var(--light-gray) !important;
}

.text-light-gray{
    color: var(--x-light-gray) !important;
}





.btn-primary{
    background-color: var(--blue-primary)!important;
    border-color: var(--blue-primary)!important;
}

.btn-primary:hover{
    background-color: var(--blue-primary-hover)!important;
    border-color: var(--blue-primary-hover)!important;
}

.item-reg{
    box-sizing: border-box;
    background-color: var(--primary);
    padding: 2px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}
