@import url("color.css");

.brand-logo{
    max-width: 200px;
}

.container-login{
    max-width: 600px;

}

.login-box{
    background-color: lightgrey;
}

.container-register{
    max-width: 600px;
}

.profile{

    padding-left: 0;
    border-radius: 50%;
    border: 1px solid rgba(100, 100, 100, 0.45);
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 150px;

}

img .profile{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #97BCE0;
    object-fit: content;
    margin: 0px auto!important;
    overflow:hidden;
    flex-shrink:0;


}


.large > img{
    width: 145px;
    height: 145px;
}

.large{
    width: 150px!important;
    height: 150px!important;
}

.file{
    position: relative;
    height: 35px;
    cursor: pointer;
    color: white;
    text-align: center;
    margin: auto;
    top: 0px;
    line-height: 20px;


}

input[type="file"]{
    position: absolute;
    top:0px;
    left: 0px;
    opacity: 0;
}

.invalid{
    border-color: #dc3545;

}

.valid{
    border-color: #198754;

}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.25);
}
