#map {
    height: 150px;
    width: 100%;
    border: 1px solid rgba(100, 100, 100, 0.45);


}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}



