<div>
    <h1 class="mb-0">Noticias</h1>
    <hr class=" mt-1" style="border-top: 3px solid var(--dark-gray)!important;">
    {{#articulos}}
        <div class="d-flex flex-column">
            <a class="card-link text-dark-gray" style="cursor: pointer!important;" request="viewer/read?id={{id}}" article>
                <div class="d-flex">

                <div class="col-9">
                    <h1 class="fs-24">{{titulo}}</h1>
                    <h4 class="font-weight-lighter fs-14">{{subtitulo}}</h4>
                </div>
                <div class="col-3">
                    <img class="w-100" src="/infonete/public/uploads/article/{{id}}/{{thumb}}" alt="">
                </div>

            </div>
            </a>
            <hr class="w-100" style="border-top: 1px solid var(--x-light-gray)!important;">
        </div>
    {{/articulos}}
</div>


