<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- boostrap -->
    <link rel="stylesheet" href="/infonete/public/css/bootstrap.css">
    <link rel="stylesheet" href="/infonete/public/css/global.css">

    <title>Activacion de cuenta</title>
</head>
<body class="bg-dark">
<main class="container">
    <div class="text-center">
        <img class="brand-logo mt-2" src="/infonete/public/images/logo/logo.png" alt="">
    </div>
    <div class="login-box rounded text-center py-4 mt-5">
        {{#success}}

                <h3 class="fs-5 fs-3">Ya eres un usuario activo de Infonete.com</h3>
                <p>Ahora inicia sesion para disfrutar de todo nuestro contenido.</p>

        {{/success}}

        {{^success}}

                <h3 class="fs-5 fs-3">El link ha expirado o la cuenta ya está activa</h3>
                <p>Puedes iniciar sesión para acceder a tu cuenta.</p>

        {{/success}}
        <a href="/infonete" class="btn btn-primary">Iniciar sesión</a>
    </div>
</main>

</body>
</html>