<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/infonete/public/css/index/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="infonete/public/css/index/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/infonete/public/css/app/thumb.css">
    <link rel="stylesheet" href="/infonete/public/css/style.css">
    <link rel="stylesheet" href="/infonete/public/css/app/global.css">
    <link rel="stylesheet" href="/infonete/public/css/app/maps.css">

    <link rel="shortcut icon" href="/infonete/public/images/logo/favicon.png"/>

    <script src="https://cdn.tiny.cloud/1/2cz3fg5z9k08c9s1umqm5vrd95zs4t9gavamel6hycaoo6lm/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <title>Crear Nota</title>
</head>
<body>

<div class="container-scroller" id="scroller">
    <!-- partial:partial/sidebar.mustache -->
    {{>sidebar}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partial/main-navbar.mustache -->
        {{>main-navbar}}
        <!-- partial -->

        <!-- main panel -->
        <div class="main-panel">
            <div id="main-content" class="content-wrapper">
                <!-- form: Nueva Nota -->
                <div class="card fadeIn">
                    <div class="card-body">
                        <form id="form-noticia" action="" method="post" enctype="multipart/form-data">
                            <div class="container  mx-auto">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4>Crear Nota</h4>
                                    <div class="d-flex justify-content-end align-items-stretch">
                                        <button class="btn btn-primary mr-2" type="submit">Guardar Nota</button>
                                        <a class="btn btn-secondary text-center" title="Cerrar ventana"
                                           href="/infonete/edicion/admin"><i class="mdi mdi-close d-inline mx-auto"></i></a>
                                    </div>

                                </div>
                                <hr class="bg-dark-gray">


                                <!-- TABS -->

                                <div class="row w-100">
                                    <div class="col-3">
                                        <!-- Tab navs -->
                                        <div class="flex-column nav-tabs nav-tabs-vertical-custom " id="v-tabs-tab"
                                             role="tablist" aria-orientation="vertical">
                                            <a class="nav-link active" id="v-tabs-home-tab" data-mdb-toggle="tab"
                                               ref="#v-tabs-content"
                                               role="tab"
                                               aria-controls="v-tabs-home"
                                               aria-selected="true">Contenido</a>
                                            <a class="nav-link" id="v-tabs-profile-tab" data-mdb-toggle="tab"
                                               ref="#v-tabs-geo"
                                               role="tab"
                                               aria-controls="v-tabs-profile"
                                               aria-selected="false">Posicionar en el mapa</a>
                                            <a class="nav-link" id="v-tabs-messages-tab" data-mdb-toggle="tab"
                                               ref="#v-tabs-image"
                                               role="tab"
                                               aria-controls="v-tabs-messages"
                                               aria-selected="false">Adjuntar Imagenes</a>
                                            <a class="nav-link" id="v-tabs-messages-tab" data-mdb-toggle="tab"
                                               ref="#v-tabs-links"
                                               role="tab"
                                               aria-controls="v-tabs-messages"
                                               aria-selected="false">Adjuntar Links</a>
                                            <a class="nav-link" id="v-tabs-messages-tab" data-mdb-toggle="tab"
                                               ref="#v-tabs-camera"
                                               role="tab"
                                               aria-controls="v-tabs-messages"
                                               aria-selected="false">Capturar Video</a>
                                        </div>
                                        <div class="d-flex flex-column rounded bg-x-dark-gray  shadow-max overflow-hidden mt-5">
                                            {{#edicion}}

                                                <div class="d-flex flex-column w-100 mx-auto justify-content-center p-2">

                                                    <h6 class="display-6 ">Edición Activa</h6>
                                                    <div class="d-flex mt-2 mx-auto">
                                                        <img class="portada-image-mini mr-2 mb-2"
                                                             src="/infonete/public/uploads/portada/{{getPortada}}"
                                                             alt="">
                                                        <div class="d-flex flex-column">
                                                            <p class="text-muted p-0 m-0">Número:</p>
                                                            <p class="p-0 m-0 mr-1"> {{getNumero}}</p>
                                                            <p class="text-muted p-0 m-0">Producto:</p>
                                                            <p class="p-0 m-0 mr-1">{{getNombreProducto}}</p>
                                                            <p class="text-muted p-0 m-0">Título:</p>
                                                            <p class="p-0 m-0 text-primary">{{getTitulo}}</p>
                                                        </div>

                                                    </div>


                                                </div>

                                            {{/edicion}}
                                            <div class="w-100 card-tipo-border"></div>
                                        </div>
                                        <!-- Tab navs -->
                                    </div>

                                    <div class="col-9">
                                        <!-- Tab content -->


                                        <div class="tab-content al" id="v-tabs-body">

                                            <div class="active" id="v-tabs-content" role="tabpanel"
                                                 aria-labelledby="v-tabs-home-tab">
                                                <label for="">Sección</label>
                                                <select class="form-control" name="" id="">
                                                    <option value="0" selected disabled hidden>Seleccione la Seccion de
                                                        Noticias
                                                    </option>
                                                    {{#secciones}}
                                                        <option value="{{id}}">{{nombre}}</option>
                                                    {{/secciones}}
                                                </select>

                                                <h5 class="display-6 mb-1 mt-2 text-primary">Contenido:</h5>
                                                <hr class="bg-gray w-100 m-0 p-0 d-block mb-2">
                                                <label for="">Titulo de Nota *</label>
                                                <input class="form-control mb-2" type="text" name="titulo"
                                                       placeholder="Título">
                                                <label for="">Subtitulo de Nota *</label>
                                                <input class="form-control mb-2" type="text" name="subtitulo"
                                                       placeholder="Subtitulo">
                                                <label for="">contenido *</label>
                                                <textarea id="text-content" class="form-control mb-2"  name="contenido"
                                                          placeholder="Cuerpo de la Notícia" ></textarea>

                                            </div>

                                            <div class="tab-pane" id="v-tabs-geo" role="tabpanel"
                                                 aria-labelledby="v-tabs-home-tab">
                                                <!-- POSICION DE NOTA -->
                                                <h5 class="display-6 mb-1 mt-3 text-primary">Ubicación Geografica de la
                                                    Noticia:</h5>
                                                <hr class="bg-gray w-100 m-0 p-0 d-block mb-2">
                                                <div id="input-container">

                                                    <input id="pac-input" class="form-control mb-0" type="text"
                                                           name="ubicacion"
                                                           placeholder="Buscar un lugar" required>
                                                    <div id="dir-validate-msg" class="text-left valid-feedback">

                                                    </div>
                                                    <div class="col px-0">
                                                        <div class="row">
                                                            <div class="input-group my-3 col">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">Lat:</span>
                                                                </div>
                                                                <input type="text" class="form-control" name="lat"
                                                                       id="lat"
                                                                       placeholder="Geo-latitud" readonly/>
                                                            </div>
                                                            <div class="input-group my-3 col">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">Lng:</span>
                                                                </div>
                                                                <input type="text" class="form-control" name="lng"
                                                                       id="lng"
                                                                       placeholder="Geo-longitud" readonly/>
                                                            </div>


                                                        </div>
                                                        <div class="col mb-3" id="map">

                                                        </div>

                                                    </div>


                                                </div>
                                            </div>

                                            <div class="tab-pane" id="v-tabs-image" role="tabpanel"
                                                 aria-labelledby="v-tabs-home-tab">
                                                <h5 class="display-6 mb-1 mt-3 text-primary">Cargar imagenes
                                                    relacionadas:</h5>
                                                <hr class="bg-gray w-100 m-0 p-0 d-block mb-2">

                                                <div class="file-container">
                                                    <div class="file btn btn-info mx-2 my-2">
                                                        <p class="d-flex align-items-center justify-content-cente mb-0">
                                                            <i class="mdi mdi-camera d-inline me-2"></i>Cargar imagenes
                                                        </p>
                                                        <input class="w-100 h-100" type="file" name="file[]"
                                                               accept="image/png,image/jpeg" id="file" multiple>
                                                    </div>
                                                    <div class="thumbnail-scroller d-flex align-items-center pl-2 pb-2"
                                                         id="img-scroller">
                                                        <p class="text-danger text-center w-100" id="text-empty">No ha
                                                            seleccionado
                                                            imagenes</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="v-tabs-links" role="tabpanel"
                                                 aria-labelledby="v-tabs-home-tab">
                                                <!-- ENLACES -->
                                                <h5 class="display-6 mb-1 mt-3 text-primary">Enlaces externos:</h5>
                                                <hr class="bg-gray w-100 m-0 p-0 d-block mb-2">


                                                <div class="input-group mb-2 mt-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">http://</span>
                                                    </div>
                                                    <input type="text" class="form-control" name="link"
                                                           placeholder="url a pagina relacionada">
                                                </div>

                                                <div class="input-group mb-3">
                                                    <div class="input-group-append">
                                                        <a class="btn btn-youtube" href="http://youtube.com"
                                                           target="_blank">
                                                            <i class="mdi mdi-youtube"></i>
                                                        </a>
                                                    </div>
                                                    <input type="text" id="inYt" class="form-control" name="linkvideo"
                                                           placeholder="enlace a video YouTube">
                                                </div>

                                                <div>
                                                    <iframe id="yt-preview" width="560" height="315" src=""
                                                            title="YouTube video player" frameborder="0"
                                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                            allowfullscreen></iframe>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="v-tabs-camera" role="tabpanel"
                                                 aria-labelledby="v-tabs-home-tab">
                                                GRABAR VIDEO
                                            </div>





                                            {{#success}}
                                                <div class="alert alert-success" role="alert">
                                                    {{success}}
                                                </div>
                                            {{/success}}

                                            {{#error}}
                                                <div class="alert alert-danger" role="alert">
                                                    {{error}}
                                                </div>
                                            {{/error}}
                                        </div>


                                        <!-- Tab content -->
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-panel ends -->
    </div>
</div>

<script>
    tinymce.init({
        selector: 'textarea#text-content',
        menubar: 'false',
        inline: false,
        hidden_input: true,
        skin: 'material-classic',
        content_css: 'material-classic',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | checklist numlist bullist indent outdent ',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ]
    });
</script>


<script src="/infonete/public/js/vendors/jquery-1.11.3.min.js"></script>

<script src="/infonete/public/js/vendors/js/vendor.bundle.base.js"></script>
<script src="/infonete/public/js/vendors/settings.js"></script>
<script src="/infonete/public/js/vendors/hoverable-collapse.js"></script>
<script src="/infonete/public/js/vendors/misc.js"></script>
<script src="/infonete/public/js/vendors/off-canvas.js"></script>
<!--script vistas Infonete -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeluO_jCvIS_iT6Y3Thw8A6YJW5gyzh0M&callback=initAutocomplete&libraries=places&v=weekly"
        defer>

</script>
<script type='text/javascript' src="/infonete/public/js/vendors/google.maps.js"></script>
<script type='text/javascript' src="/infonete/public/js/app/nota.js"></script>
<script type='text/javascript' src="/infonete/public/js/app/tabs.js"></script>
<script type='text/javascript' src="/infonete/public/js/app/file-image.js"></script>


</body>
</html>


