<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/infonete/public/css/index/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/infonete/public/css/index/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/infonete/public/css/app/thumb.css">

    <link rel="stylesheet" href="/infonete/public/css/app/global.css">
    <link rel="stylesheet" href="/infonete/public/css/style.css">
    <link rel="stylesheet" href="/infonete/public/css/app/maps.css">
    <link rel="stylesheet" href="/infonete/public/css/index/vendors/carrousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/infonete/public/css/index/vendors/carrousel/owl.theme.default.min.css">

    <link rel="shortcut icon" href="/infonete/public/images/logo/favicon.png"/>


    <title>Ver Nota</title>
</head>
<body>

<div class="container-scroller" id="scroller">
    <!-- partial:partial/sidebar.mustache -->
    {{>sidebar}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partial/main-navbar.mustache -->
        {{>main-navbar}}
        <!-- partial -->

        <!-- main panel -->
        <div class="main-panel">
            <div id="main-content" class="content-wrapper">
                <!-- form: Nueva Nota -->
                <div class="card bg-light fadeIn">

                    <div class="card-body">

                        <div class="d-flex justify-content-between">
                            <p class="font-italic font-weight-light text-gray mb-0">Autor: Autor de Prueba</p>
                            <p class="font-italic font-weight-light text-gray mb-0">13 de Noviembre del 2022</p>
                        </div>
                        <hr class="bg-light-gray mt-1">
                        <h1 class="text-dark-gray">The standard Lorem Ipsum passage, used since the 1500s</h1>
                        <h4 class="text-dark-gray">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h4>
                        <div class="card-body">
                            <h4 class="card-title">Portfolio Slide</h4>
                            <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel" id="owl-carousel-basic">
                                <div class="item">
                                    <img src="/infonete/public/uploads/img/banner_1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="/infonete/public/uploads/img/banner_2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="/infonete/public/uploads/img/banner_3.jpg" alt="">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-panel ends -->
    </div>
</div>




<script src="/infonete/public/js/vendors/jquery-1.11.3.min.js"></script>
    <script src="/infonete/public/js/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/infonete/public/js/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/infonete/public/js/vendors/owl.carousel.min.js"></script>
<script src="/infonete/public/js/vendors/js/vendor.bundle.base.js"></script>
<script src="/infonete/public/js/vendors/settings.js"></script>
<script src="/infonete/public/js/vendors/hoverable-collapse.js"></script>
<script src="/infonete/public/js/vendors/misc.js"></script>
<script src="/infonete/public/js/vendors/off-canvas.js"></script>


<!--script vistas Infonete
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeluO_jCvIS_iT6Y3Thw8A6YJW5gyzh0M&callback=initAutocomplete&libraries=places&v=weekly"
        defer>

</script>
<script type='text/javascript' src="/infonete/public/js/vendors/google.maps.js"></script>

<script type='text/javascript' src="/infonete/public/js/app/nota.js"></script>
<script type='text/javascript' src="/infonete/public/js/app/tabs.js"></script>
<script type='text/javascript' src="/infonete/public/js/app/file-image.js"></script>
 -->

</body>
</html>


