<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/infonete/public/css/index/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/infonete/public/css/index/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/infonete/public/css/app/thumb.css">

    <link rel="stylesheet" href="/infonete/public/css/app/global.css">
    <link rel="stylesheet" href="/infonete/public/css/style.css">
    <link rel="stylesheet" href="/infonete/public/css/app/maps.css">
    <link rel="stylesheet" href="/infonete/public/css/index/vendors/carrousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/infonete/public/css/index/vendors/carrousel/owl.theme.default.min.css">

    <link rel="shortcut icon" href="/infonete/public/images/logo/favicon.png"/>


    <title>Ver Nota</title>
</head>
<body>

<div class="container-scroller" id="scroller">
    <!-- partial:partial/sidebar.mustache -->
    {{>sidebar}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partial/main-navbar.mustache -->
        {{>main-navbar}}
        <!-- partial -->

        <!-- main panel -->
        <div class="main-panel">
            <div id="main-content" class="content-wrapper">
                <!-- form: Nueva Nota -->
                <div class="card bg-light fadeIn">

                    <div class="card-body">

                        {{#articulo}}
                            <div class="d-flex justify-content-between">
                                <p class="font-italic font-weight-light text-gray mb-0">Sección:{{getNombreSeccion}}</p>
                                <p class="font-italic font-weight-light text-gray mb-0">{{getUpdateAt}}</p>
                            </div>
                            <hr class="bg-light-gray my-1">
                            <div class="d-flex justify-content-center text-gray">
                                <p class="col-5 font-italic font-weight-light fs-12  mb-0">Acerca del autor:</p>
                                <div class="d-flex col-7">
                                    <img class="img-xs rounded-circle mr-2"
                                         src="/infonete/public/uploads/profiles/{{getImagenAutor}}" alt="">
                                    <div class="text-gray">
                                        <p class="mb-0 navbar-profile-name">{{getNombreAutor}}</p>
                                        <p class="font-italic font-weight-light fs-12  mb-0">{{getRolAutor}}</p>
                                    </div>
                                </div>


                            </div>
                            <hr class="bg-light-gray mt-1">

                            <h1 class="text-dark-gray">{{getTitulo}}</h1>
                            <h4 class="text-dark-gray">{{getSubtitulo}}</h4>

                            <div class="d-flex justify-content-between mt-4">
                                <div class="col-6">
                                    <div class="card-body">
                                        <h4 class="card-title text-dark-gray">Visualizar Imagenes</h4>
                                        <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel"
                                             id="owl-carousel-basic">
                                            {{#imagenes}}
                                                <div class="item">
                                                    <img src="/infonete/public/uploads/article/{{id}}/{{imagen}}"
                                                         alt="">
                                                </div>
                                            {{/imagenes}}
                                        </div>
                                    </div>
                                </div>

                                <div class="card col-6 bg-light">
                                    <div class="card-header bg-light d-flex align-items-center justify-content-start">

                                        <div class="icon icon-box-info mr-2">
                                            <span class="mdi mdi-google-maps icon-item"></span>
                                        </div>

                                        <h5 class="text-gray mb-0"> Ubicación en el mapa</h5>

                                    </div>
                                    <div class="card-body text-gray  px-0">

                                        <div class="col-6">
                                            <div class="d-flex flex-column">
                                                <div class="d-flex align-items-center ">
                                                    <i class="mdi mdi-map-marker"></i>
                                                    <p class="fs-12 mb-0">{{getUbicacion}}</p>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-5">

                                        </div>
                                        <hr class="bg-light-gray mt-1">

                                    </div>
                                    <div class="card-footer bg-light d-flex align-items-center justify-content-start px-3">
                                        <div class="icon icon-box-danger mr-2">
                                            <span class="mdi mdi mdi-link icon-item"></span>
                                        </div>

                                        <h5 class="text-gray mb-0"> Link relacionado</h5>
                                    </div>
                                </div>

                            </div>


                            <div class="text-dark-gray mt-4 px-2 text-justify">
                                {{getContenido}}
                            </div>
                            {{#getStream}}
                                <div class="text-pinterest">
                                    <h5>Transmisión del autor</h5>
                                    <hr class="bg-light-gray mt-1">
                                    <iframe width="560" height="315"
                                            src="/infonete/public/uploads/article/{{id}}/stream/{{getStream}}"
                                            title="Transmisión del autor" frameborder="0"
                                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>

                                </div>
                            {{/getStream}}
                            {{#getLinkVideo}}
                                <div class="text-pinterest">
                                    <h5>Enlace a video relacionado</h5>
                                    <hr class="bg-light-gray mt-1">
                                    <iframe width="560" height="315"
                                            src="https://www.youtube.com/embed/{{getLinkVideo}}"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>

                                </div>
                            {{/getLinkVideo}}
                        {{/articulo}}
                    </div>
                </div>
            </div>
            <!-- main-panel ends -->
        </div>
    </div>

</div>


<script src="/infonete/public/js/vendors/jquery-1.11.3.min.js"></script>
<script src="/infonete/public/js/vendors/js/vendor.bundle.base.js"></script>
<script src="/infonete/public/js/vendors/owl.carousel.min.js"></script>

<script src="/infonete/public/js/vendors/settings.js"></script>
<script src="/infonete/public/js/vendors/hoverable-collapse.js"></script>
<script src="/infonete/public/js/vendors/misc.js"></script>
<script src="/infonete/public/js/vendors/off-canvas.js"></script>
<script src="/infonete/public/js/vendors/dashboard.js"></script>

<!--script vistas Infonete
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeluO_jCvIS_iT6Y3Thw8A6YJW5gyzh0M&callback=initAutocomplete&libraries=places&v=weekly"
        defer>

</script>
<script type='text/javascript' src="/infonete/public/js/vendors/google.maps.js"></script>

<script type='text/javascript' src="/infonete/public/js/app/nota.js"></script>
<script type='text/javascript' src="/infonete/public/js/app/tabs.js"></script>
<script type='text/javascript' src="/infonete/public/js/app/file-image.js"></script>
 -->

</body>
</html>


