<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/infonete/public/css/bootstrap.css">
    <link rel="stylesheet" href="/infonete/public/css/global.css">
    <title>Crear Edición</title>
</head>
<body>
<h2>Crear Edición</h2>
<!--el enctype multipart form data se pone para enviar archivos-->
<form action="/infonete/edicion/guardar" method="post" enctype="multipart/form-data">
    <input class="form-control mb-2" type="text" name="numero" placeholder="Número">
    <input class="form-control mb-2" type="text" name="precio" placeholder="Precio">
    <input class="form-control mb-2" type="text" name="fecha" placeholder="Fecha">
    <input class="form-control mb-2" type="text" name="producto" placeholder="Producto">

    {{#success}}
        <div class="alert alert-success" role="alert">
            {{success}}
        </div>
    {{/success}}

    {{#error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {{/error}}

    <button class="btn btn-primary mb-2" type="submit">Guardar</button>
</form>
</body>
</html>