<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="/infonete/public/css/index/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/infonete/public/css/app/global.css">
    <link rel="stylesheet" href="/infonete/public/css/style.css">

    <link rel="shortcut icon" href="/infonete/public/images/logo/favicon.png"/>

    <title>Crear Edición</title>
</head>
<body>

<div class="container-scroller">
    <!-- partial:partial/sidebar.mustache -->
    {{>sidebar}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partial/main-navbar.mustache -->
        {{>main-navbar}}
        <!-- partial -->

        <!-- main panel -->
        <div class="main-panel">
            <div id="main-content" class="content-wrapper">
                <!-- form: Nuevo producto -->
                <div class="card fadeIn">
                    <div class="card-body">
                        <div class="container max-with-600 mx-auto">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Crear nueva edición</h4>
                                <a class="btn btn-secondary text-center" title="Cerrar ventana" href="/infonete/edicion/admin"><i class="mdi mdi-close d-inline mx-auto"></i></a>
                            </div>
                            <hr>
                            
                            <div class="d-flex flex-column rounded bg-dark-gray p-2 mb-3">
                                {{#product}}
                                    <div><h5>Producto relacionado</h5></div>
                                    <div class="d-flex align-items-center ">
                                        <div>
                                            <img class="product-image-mini" src="/infonete/public/uploads/product/{{getImagen}}" alt="">
                                        </div>
                                        <div class="d-flex justify-content-around w-100">
                                            <p class="p-0 m-0"><strong class="pr-1">Id: </strong> {{getId}}</p>
                                            <p class="p-0 m-0"><strong class="pr-1">Producto: </strong> {{getNombre}}</p>
                                            <p class="p-0 m-0"><strong class="pr-1">Tipo: </strong> {{getNombreTipo}}</p>
                                        </div>


                                    </div>

                                {{/product}}

                            </div>
                            <form action="/infonete/edicion/guardar" method="post" enctype="multipart/form-data">

                                <div class="d-flex flex-column flex-lg-row">
                                    <div class="d-flex flex-column flex-shrink-0 align-items-center px-0 px-lg-5 ">
                                        <img class="product-image" id="preview"
                                             src="/infonete/public/uploads/product/default.jpg" alt="">
                                        <div class="file btn btn-info btn-block mb-2 mt-3 mt-lg-0">
                                            <p class="d-flex align-content-center justify-content-center">
                                                <i class="mdi mdi-camera d-inline me-2"></i>Seleccionar Portada
                                            </p>
                                            <input type="file" accept="image/png,image/jpeg" id="file" name="file"
                                                   class="form-control ">
                                        </div>

                                    </div>
                                    <div class="d-flex flex-column w-100">
                                        <label>Número de edición *</label>
                                        <input class="form-control mb-2" type="text" name="numero" placeholder="Número">
                                        <label>Título *</label>
                                        <input class="form-control mb-2" type="text" name="titulo" placeholder="Título">
                                        <label>Descripción*</label>
                                        <textarea class="form-control mb-2" rows="4" maxlength="255" name="descripcion" placeholder="Describa la edición"></textarea>
                                        <label>Precio *</label>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-primary text-white">$</span>
                                            </div>
                                            <input type="text" name="precio" class="form-control">

                                        </div>
                                        <button class="btn btn-primary mb-2" type="submit">Guardar</button>
                                    </div>


                                </div>
                                {{#success}}
                                    <div class="alert alert-success" role="alert">
                                        {{success}}
                                    </div>
                                {{/success}}

                                {{#error}}
                                    <div class="alert alert-danger" role="alert">
                                        {{error}}
                                    </div>
                                {{/error}}

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-panel ends -->
    </div>
</div>


<script src="/infonete/public/js/vendors/jquery-1.11.3.min.js"></script>
<script src="/infonete/public/js/vendors/js/vendor.bundle.base.js"></script>
<script src="/infonete/public/js/vendors/settings.js"></script>
<script src="/infonete/public/js/vendors/hoverable-collapse.js"></script>
<script src="/infonete/public/js/vendors/misc.js"></script>
<script src="/infonete/public/js/vendors/off-canvas.js"></script>
<!--script vistas Infonete -->


<script type='text/javascript' src="/infonete/public/js/app/preview.js"></script>


</body>
</html>


