<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="/infonete/public/css/index/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/infonete/public/css/style.css">
    <link rel="stylesheet" href="/infonete/public/css/app/animate.css">
    <link rel="shortcut icon" href="/infonete/public/images/logo/favicon.png"/>

    <title>Inicio</title>
</head>
<body>

<div class="container-scroller fadeIn">
    <!-- partial:partial/sidebar.mustache -->
    {{>sidebar}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partial/main-navbar.mustache -->
        {{>main-navbar}}
        <!-- partial -->

        <!-- main panel -->
        <div class="main-panel">
            <div id="main-content" class="content-wrapper">
                <!-- form: gestion productos -->

                    <div class="card fadeIn">
                        <div class="card-body">
                            <h4 class="card-title">Administración de productos</h4>

                            <div class="navbar-menu-wrapper navbar-expand flex-grow d-flex align-items-stretch">
                                <ul class="navbar-nav d-flex justify-content-between align-items-center w-100">
                                    <li class="nav-item w-75">
                                        <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search d-block " action="/infonete/producto/search" id="search-user" method="GET">
                                            <input type="text" name="value"  id="search-user-box" class="form-control" value="{{value}}" placeholder="Buscar por nombre o tipo">
                                        </form>
                                    </li>
                                    <li><a class="nav-item btn btn-primary" id="nuevo-producto" href="/infonete/producto/agregar"><i class="mdi mdi-playlist-plus"></i>Nuevo Producto</a></li>
                                </ul>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-pink">Imagen</th>
                                            <th class="text-pink">Titulo</th>
                                            <th class="text-pink">Tipo</th>
                                            <th class="text-pink">Estado</th>
                                            <th class="text-pink">Acciones rápidas</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    {{#productos}}
                                        <tr>
                                            <td><img class="portada-mini me-4" src="/infonete/public/uploads/product/{{imagen}}"></td>
                                            <td>{{nombre}}</td>
                                            <td>{{tipo}}</td>
                                            <td>
                                                <label class="badge badge-success me-1" >Edición</label>
                                            </td>

                                            <td>
                                                <a  class="btn btn-secondary" title="Publicar" >
                                                        <i class="mdi mdi-web mx-auto"  ></i>
                                                </a>
                                                <a  class="btn btn-secondary" title="Editar" id-user="{{id}}" blank-pass><i class="mdi mdi-pencil mx-auto" ></i></a>

                                            </td>
                                        </tr>
                                    {{/productos}}

                                    {{^productos}}
                                        <tr>
                                            <td>
                                                No hay productos para mostrar.
                                            </td>

                                        </tr>

                                    {{/productos}}

                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>



            </div>
        </div>
        <!-- main-panel ends -->
    </div>
</div>


<script src="/infonete/public/js/vendors/jquery-1.11.3.min.js"></script>
<script src="/infonete/public/js/vendors/js/vendor.bundle.base.js"></script>
<script src="/infonete/public/js/vendors/settings.js"></script>
<script src="/infonete/public/js/vendors/hoverable-collapse.js"></script>
<script src="/infonete/public/js/vendors/misc.js"></script>
<script src="/infonete/public/js/vendors/off-canvas.js"></script>
<!--script vistas Infonete -->



<script type='text/javascript' src="/infonete/public/js/app/product.js"></script>


</body>
</html>




