<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestion de Usuarios</title>
</head>
<body>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Administración de cuentas de usuarios</h4>

        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                    <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" id="search-user" method="GET">
                        <input type="text" name="value"  id="search-user-box" class="form-control" value="{{value}}" placeholder="Buscar por nombre o apellido">
                    </form>
                </li>
            </ul>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-pink">Avatar</th>
                    <th class="text-pink">Apellido y Nombre</th>
                    <th class="text-pink">Usuario</th>
                    <th class="text-pink">Estado de cuenta</th>
                    <th class="text-pink size">Rol</th>
                    <th class="text-pink">Acciones rápidas</th>
                </tr>
                </thead>
                <tbody>
                {{#users}}
                    <tr>
                        <td><img class="me-4" src="/infonete/public/uploads/profiles/{{avatar}}"></td>
                        <td>{{apellido}} {{nombre}}</td>
                        <td><i class="mdi mdi-account-circle text-danger d-inline"></i> {{email}}</td>
                        <td>
                            {{#activo}}
                                <label class="badge badge-success me-1" id="label-{{id}}">Activo</label>
                            {{/activo}}
                            {{^activo}}
                                <label class="badge badge-danger me-1" id="label-{{id}}">Inactivo</label>
                            {{/activo}}

                            {{#estado}}
                                <label class="badge badge-success" id="label-{{id}}">Verificado</label>
                            {{/estado}}
                            {{^estado}}
                                <label class="badge badge-warning" id="label-{{id}}">Pendiente</label>
                            {{/estado}}

                        </td>

                        <td class="size">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle btn-block" type="button" id="{{id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rol-sel="{{rol}}" rol-name></button>
                                <div class="dropdown-menu" aria-labelledby="drop-roles" style="">
                                    <h6 class="dropdown-header text-primary text-center">Cambio de Roles</h6>
                                    {{#roles}}
                                        <a class="dropdown-item" rol-option for="{{id}}" value="{{id_rol}}">{{rol_name}}</a>
                                    {{/roles}}

                                </div>
                            </div>

                        </td>
                        <td>
                            <a  class="btn btn-secondary" title="Bloquear usuario" id-user="{{id}}" user-lock state="{{activo}}">
                                {{#activo}}
                                    <i class="mdi mdi-account-off mx-auto"  ></i>
                                {{/activo}}
                                {{^activo}}
                                    <i class="mdi mdi-account-check mx-auto"  ></i>
                                {{/activo}}

                            </a>
                            <a  class="btn btn-secondary" title="Blanqueo de clave" id-user="{{id}}" blank-pass><i class="mdi mdi-key-remove mx-auto" ></i></a>

                        </td>
                    </tr>
                {{/users}}

                </tbody>
            </table>
        </div>
    </div>


</div>



</body>
</html>


