<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="/infonete/public/css/index/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/infonete/public/css/style.css">
    <link rel="stylesheet" href="/infonete/public/css/app/animate.css">
    <link rel="shortcut icon" href="/infonete/public/images/logo/favicon.png"/>

    <title>Inicio</title>
</head>
<body>

<div class="container-scroller fadeIn">
    <!-- partial:partial/sidebar.mustache -->
    {{>sidebar}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partial/main-navbar.mustache -->
        {{>main-navbar}}
        <!-- partial -->

        <!-- main panel -->
        <div class="main-panel">
            <div id="main-content" class="content-wrapper">


                <!-- Aqui todo el contenido -->

                <!-- CONTENIDO - HOME -->
                <div class="card fadeIn">
                    <div class="card-body">
                        <!-- Banner suscripciones -->
                        <div class="row">
                            <div class="col-12 grid-margin stretch-card">
                                <div class="card corona-gradient-card">
                                    <div class="card-body py-0 px-0 px-sm-3">
                                        <!-- publicidad suscripcion -->

                                        <div class="row align-items-center">
                                            <div class="col-4 col-sm-3 col-xl-2">
                                                <img src="/infonete/public/images/banner/Group126@2x.png"
                                                     class="gradient-corona-img img-fluid" alt="">
                                            </div>
                                            <div class="col-5 col-sm-7 col-xl-8 p-0">
                                                <h4 class="mb-1 mb-sm-0">Queres mantenerte al día?</h4>
                                                <p class="mb-0 font-weight-normal d-none d-sm-block">Tenémos los mejores
                                                    Planes para vos!</p>
                                            </div>
                                            <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                                                <span>
                                                  <a id="btn-banner-planes" href="/infonete/suscripcion/planes"
                                                     class="btn btn-outline-light btn-rounded get-started-btn">Comprar suscripción</a>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- seccion novedades -->

                        <div class="row">
                            <h3 class="col-12 text-left text-light-gray">Ultimos lanzamientos</h3>

                            <!-- Tarjeta de ediciones publicadas -->

                                <div class="d-flex flex-wrap w-100 mx-auto justify-content-center justify-content-lg-start">
                                {{#novedades}}
                                    <div class="card card-max bg-light-gray shadow-max mr-2 mb-4">
                                        <div class="card-img p-0 overflow-hidden">
                                            <div class=" bg-light pt-4 pb-2 mb-2">
                                                <img class="mx-auto portada mb-2 d-block shadow"
                                                     src="/infonete/public/uploads/portada/{{portada}}" alt="">
                                                <spam class="tag-tipo">{{tipo}}</spam>
                                            </div>
                                        </div>
                                            <div class="d-flex flex-column h-100 px-2">

                                                <h4 class="font-weight-bolder mb-0 me-1 text-dark-gray">{{titulo}}</h4>


                                                <div class="d-flex ">
                                                    <small class="text-muted pr-2">{{fecha}}</small>
                                                    <small class="text-muted">Ed.: {{numero}}</small>
                                                </div>


                                                <p class="text-gray mt-2">{{descripcion}}</p>
                                                <div class="mt-auto">
                                                    <h3 class="mb-0 text-dark-gray ">${{precio}}</h3>
                                                    {{#usuario}}
                                                        <a class="btn btn-success btn-block "
                                                           href="/infonete/viewer/show?id={{id}}">Leer</a>
                                                    {{/usuario}}
                                                    {{^usuario}}
                                                        <a class="btn btn-primary btn-block "
                                                           href="/infonete/edicion/verDetalle?id={{id}}">Comprar este
                                                        número</a>
                                                    {{/usuario}}
                                                </div>

                                            </div>



                                        <div class="w-100 card-tipo-border"></div>
                                    </div>
                                {{/novedades}}
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- main-panel ends -->
        </div>

    </div>
</div>

<script src="/infonete/public/js/vendors/jquery-1.11.3.min.js"></script>
<script src="/infonete/public/js/vendors/js/vendor.bundle.base.js"></script>
<script src="/infonete/public/js/vendors/settings.js"></script>
<script src="/infonete/public/js/vendors/hoverable-collapse.js"></script>
<script src="/infonete/public/js/vendors/misc.js"></script>
<script src="/infonete/public/js/vendors/off-canvas.js"></script>

<!--script vistas Infonete -->

</body>
</html>