<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Infonete-Ingresar</title>
</head>
<body>
    <!--infonete.com/login/auth
    auth es el metodo a ejecutar
    login es el controlador-->
    <form action="/login/auth" method="POST">
        <input type="text" name="usuario" placeholder="Ingrese nombre de usuario">
        <input type="password" name="pass" placeholder="Ingrese contraseña">
        <input type="submit" value="Ingresar">
    </form>
</body>
</html>