<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Iniciar sesíon</title>

    <link rel="stylesheet" href="/infonete/public/css/index/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="infonete/public/css/index/vendors/css/vendor.bundle.base.css">

    <!-- Layout styles -->
    <link rel="stylesheet" href="/infonete/public/css/app/global.css">
    <link rel="stylesheet" href="/infonete/public/css/style.css">

    <link rel="shortcut icon" href="/infonete/public/images/favicon.png" />
</head>
<body class="bg-dark">
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">

            <div class="content-wrapper full-page-wrapper d-flex  align-items-center ">



                <div class="card col-lg-4 mx-auto fadeIn">
                    <div class="card-body px-5 pb-5 pt-4">
                        <div class=" d-flex text-light-gray align-items-center justify-content-between">
                            <h3 class="card-title text-left text-light-gray m-0">Iniciar Sesión</h3>
                            <img class="brand-logo m-0" src="/infonete/public/images/logo/logo-150.png" alt="">
                        </div>

                        <hr>
                        <form action="/infonete/login/validar" method="POST" >
                            <div class="form-floating my-3">
                                <label  for="floatingInput">Correo electónico *</label>
                                <input type="email" class="form-control" name="email" id="floatingInput" placeholder="Correo electónico" required>
                            </div>
                            <div class="form-floating mb-3">
                                <label for="floatingPassword">Contraseña *</label>
                                <input type="password" class="form-control" name="pass" id="floatingPassword" placeholder="Contraseña" required>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <div class="form-check d-block">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input p-0"> Recordarme </label>
                                </div>
                                <div>
                                    <a href="#" class="forgot-pass d-block">Recuperar contraseña</a>
                                </div>

                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn mb-2">Ingresar</button>
                                <p class="sign-up">No tienes cuenta?<a href="/infonete/register"> Registrarse</a></p>
                            </div>




                        </form>
                        {{#error}}
                            <div class="alert alert-danger mt-3 py-2" id="msg-container"  role="alert">

                                {{error}}

                            </div>
                        {{/error}}

                        <a href="/infonete/">Volver</a>
                    </div>

                </div>

            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script src="/infonete/public/js/vendors/js/vendor.bundle.base.js"></script>
<script src="/infonete/public/js/vendors/misc.js"></script>
</body>
</html>