<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="/infonete/public/css/index/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/infonete/public/css/style.css">
    <link rel="stylesheet" href="/infonete/public/css/app/animate.css">
    <link rel="shortcut icon" href="/infonete/public/images/logo/favicon.png"/>

    <title>Mis productos</title>
</head>
<body>

<div class="container-scroller fadeIn">
    <!-- partial:partial/sidebar.mustache -->
    {{>sidebar}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partial/main-navbar.mustache -->
        {{>main-navbar}}
        <!-- partial -->

        <!-- main panel -->
        <div class="main-panel">
            <div id="main-content" class="content-wrapper">


                <!-- Aqui todo el contenido -->

                <!-- CONTENIDO - HOME -->
                <div class="card fadeIn">
                    <div class="card-body">

                        <!-- seccion novedades -->

                        <div class="row">
                            <h3 class="col-12 text-left text-light-gray">Mis productos comprados</h3>

                            <!-- Tarjeta de ediciones publicadas -->

                                <div class="d-flex flex-wrap w-100 mx-auto justify-content-center justify-content-lg-start mt-3">
                                {{#ediciones}}
                                    <div class="card card-max bg-light-gray shadow-max mr-2 mb-4">
                                        <div class="card-img p-0 overflow-hidden">
                                            <div class=" bg-light pt-4 pb-2 mb-2">
                                                <img class="mx-auto portada mb-2 d-block shadow"
                                                     src="/infonete/public/uploads/portada/{{portada}}" alt="">
                                                <spam class="tag-tipo">{{tipo}}</spam>
                                            </div>
                                        </div>
                                            <div class="d-flex flex-column h-100 px-2">

                                                <h4 class="font-weight-bolder mb-0 me-1 text-dark-gray">{{titulo}}</h4>


                                                <div class="d-flex ">
                                                    <small class="text-muted pr-2">{{fecha}}</small>
                                                    <small class="text-muted">Ed.: {{numero}}</small>
                                                </div>

                                                <div class="mt-auto">
                                                    <a href="/infonete/viewer/show?id={{id}}" class="btn btn-primary btn-block">Leer esta edición</a>
                                                </div>

                                            </div>



                                        <div class="w-100 card-tipo-border"></div>
                                    </div>
                                {{/ediciones}}
                                    {{^ediciones}}
                                            <div class="m-4">
                                                <p class="text-muted">No registramos compras en tu cuenta.</p>
                                            </div>
                                    {{/ediciones}}
                                </div>

                        </div>
                        <hr class="w-100">
                        <div class="row mt-3">
                            <h3 class="col-12 text-left text-light-gray">Mis productos suscriptos</h3>

                            <!-- Tarjeta de ediciones publicadas -->

                            <div class="d-flex flex-wrap w-100 mx-auto justify-content-center justify-content-lg-start mt-3">
                                {{#suscriptos}}
                                    <div class="card card-max bg-light-gray shadow-max mr-2 mb-4">
                                        <div class="card-img p-0 overflow-hidden">
                                            <div class=" bg-light pt-4 pb-2 mb-2">
                                                <img class="mx-auto portada mb-2 d-block shadow"
                                                     src="/infonete/public/uploads/portada/{{portada}}" alt="">
                                                <spam class="tag-tipo">{{tipo}}</spam>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column h-100 px-2">

                                            <h4 class="font-weight-bolder mb-0 me-1 text-dark-gray">{{titulo}}</h4>


                                            <div class="d-flex ">
                                                <small class="text-muted pr-2">{{fecha}}</small>
                                                <small class="text-muted">Ed.: {{numero}}</small>
                                            </div>

                                            <div class="mt-auto">
                                                <a href="/infonete/viewer/show?id={{id}}" class="btn btn-primary btn-block">Leer esta edición</a>
                                            </div>

                                        </div>



                                        <div class="w-100 card-tipo-border"></div>
                                    </div>
                                {{/suscriptos}}
                                {{^suscriptos}}
                                    <div class="m-4">
                                        <p class="text-muted">No se registran ediciones suscriptas.</p>
                                    </div>
                                {{/suscriptos}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- main-panel ends -->
        </div>

    </div>
</div>

<script src="/infonete/public/js/vendors/jquery-1.11.3.min.js"></script>
<script src="/infonete/public/js/vendors/js/vendor.bundle.base.js"></script>
<script src="/infonete/public/js/vendors/settings.js"></script>
<script src="/infonete/public/js/vendors/hoverable-collapse.js"></script>
<script src="/infonete/public/js/vendors/misc.js"></script>
<script src="/infonete/public/js/vendors/off-canvas.js"></script>

<!--script vistas Infonete -->

</body>
</html>