<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- boostrap -->
    <link rel="stylesheet" href="/infonete/public/css/bootstrap.css">
    <link rel="stylesheet" href="/infonete/public/css/all.min.css">
    <link rel="stylesheet" href="/infonete/public/css/global.css">
    <link rel="stylesheet" href="/infonete/public/css/maps.css">
    <link rel="shortcut icon" href="/infonete/public/images/logo/favicon.png" type="image/x-icon">
    <title>Finalizar registro</title>
</head>
<body class="bg-dark">
<main class="container">
    <div class="text-center">
        <img class="brand-logo mt-2" src="/infonete/public/images/logo/logo.png" alt="">
    </div>
    <div class="login-box rounded text-center py-4 px-4 mt-5 fadeIn">
        <h2>Gracias por registrarte en Infonete</h2>

        <div class="alert alert-success mt-4" role="alert">
            <h4 class="alert-heading">Ahora sólo debes activar tu cuenta</h4>
            <p>Enviamos un correo a la dirección <strong>{{email}}</strong> con un link de verificación, Haz clic en el enlace adjunto para activar tu cuenta.</p>
              <hr>
            <p>No recibiste el correo de verificacion? Haz clic en el siguiente enlace</p>
            <a href="#">Reenviar correo</a>
        </div>
        <a class="btn btn-primary mt-3" href="/infonete">Cerrar Ventana</a>
    </div>
</main>
</body>
</html>