<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="bg-dark">
<main class="container">
    <div class="login-box rounded text-center py-4 mt-5">
        <h2>Gracias por registrarte en Infonete</h2>
        <p>Enviamos un correo a la dirección <strong>{{email}}</strong> con un link de verificación, Haz clic en el enlace para activar tu cuenta.</p>
        <br>
        <br>

        <h4>No recibiste el correo de verificacion?</h4>
        <a href="">Reenviar correo</a>
    </div>
</main>
</body>
</html>